{% extends 'ts_training/base.html' %}
{% load nt_navbar %}
{% load nt_people %}
{% load nt_filters %}
{% load widget_tweaks %}
{% block title %}Signup for Session {{ object.pk }}{% endblock %}

{% block content %}
{% for field in form %}
	{% if field.errors %}
		<div class="alert alert-danger alert-dismissable" role="alert">
			<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
			<i class="fa fa-fw fa-exclamation-circle"></i> <strong>{{ field.label_tag|title }}</strong> 
			{{ field.errors|last }} {# Use defined validation error, not Django's #}</div>
	{% endif %}
{% endfor %} 

<form role="form" method="POST" class="form-inline">
	{% csrf_token %}
	<div class="card mx-auto">
		<div class="card-header bg-primary">
			<div class="row">
				<div class="col-sm-3 col-12 my-2 my-sm-0 text-center text-sm-left">
					<a href="{% if object.pk %}{% url 'ts_training:ntPlanSingle' object.pk %}{% else %}{% url 'ts_training:ntPlan' %}{% endif %}" class="btn btn-secondary btn-lg"><i class="fa fa-fw fa-lg fa-arrow-left"></i> <span class="d-sm-none d-lg-inline">Cancel</span></a>
				</div>
				<div class="col-sm-6 col-12 text-center mt-1">
					<h3 class="text-center mt-1">Signup for Session {{ object.pk }}</h3>
				</div>
				<div class="col-sm-3 col-12 text-center text-sm-right my-2 my-sm-0">
					<button class="btn btn-lg btn-secondary" role="button" type="submit"><i class="fa fa-fw fa-check"></i> <span class="d-sm-none d-lg-inline">Submit</span></button>
				</div>
			</div>
		</div>
		<div class="card-body">
			<div class="row mb-4">
				<div class="col-12">
					<div class="card">
						<div class="card-header bg-primary">
							<h4><i class="fa fa-fw fa-users nt-orange"></i> Sign Up</h4>
						</div>
						<div class="card-body">
							{% if object.slots > 0 %}
								<p style="text-align: center;">You are signing up for a training session on {{ object.date }}. Please select your name and confirm with the Submit button</p>
								{% all_people as people %}
								<div class="row" id="peopleList">
									{% for person in people %}
										{% if person == user %}
											<div class="col-xl-3 col-lg-4 col-md-6 col-12 mx-auto button-people person-{{ person.status }} {% if person.committee == True %}person-committee{% endif %}">
												{% with form.signed_up|return_item:forloop.counter0 as trainee_form %}
												<label class="label-block"><!-- So the whole button activates the checkbox, and is full-width on small viewports -->
													<div class="btn btn-primary btn-block button-checkbox btn-sm">
														<h5>
															<div class="row">
																<div class="col">
																	<i class="fa fa-fw {% if person.status == 'GRAD' %}fa-graduation-cap{% elif person.committee == True %}fa-committee fa-star{% else %}fa-user{% endif %} float-left mt-1"></i>&nbsp;
																	<div class="d-inline-block w-50 lead small person-checkbox"><span class="d-none">{{ trainee_form.tag }}</span>{{ person }}&nbsp;</div>
																	<i class="fa fa-fw fa-circle-o button-checkbox-icon float-right mt-1"></i>
																</div>
															</div>
														</h5>
													</div>
												</label>
												{% endwith %}
											</div>
										{% endif %}
									{% endfor %}
								</div>
							{% else %}
								<p>This training session is full. Please sign up for another session.</p>
							{% endif %}
						</div>
					</div>
				</div>
			</div>
		{% if user.is_staff %}
		<div class="card-footer bg-primary">
			<div class="row">
				<div class="col-sm-8 col-4">
					<a href="{% url 'ts_training:ntPlan' %}" class="btn btn-secondary btn-lg"><i class="fa fa-fw fa-lg fa-list"></i> <span class="d-none d-sm-inline">Back to all sessions</span></a>
				</div>
				<div class="col-sm-4 col-8 text-right">
					<button class="btn btn-lg btn-secondary" style="white-space:nowrap;" role="button" type="submit"><i class="fa fa-fw fa-check"></i> Submit</button>
				</div>
			</div>
		</div>
		{% endif %}
	</div>
</form>

{% endblock %}